@using SmartFinances.Application.Dto.Enums
@model SmartFinances.Models.BudgetPlanner.AddExpenseVM

@{
    ViewData["Title"] = "AddExpense";
}

<h1>Add Expense</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddExpense">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" 
                asp-items="Html.GetEnumSelectList<ExpenseTypeDto>()">
                </select>  
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="IsRegular">
                            <input asp-for="IsRegular" />
                            @Html.DisplayNameFor(m => m.IsRegular)
                        </label>
                    </div>
                </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
